{% extends "base.html" %}
{% load static %}
{% block extras %}
<link href="{% static "fullcalendar/core/main.css" %}" rel='stylesheet' />
<link href="{% static "fullcalendar/daygrid/main.css" %}" rel='stylesheet' />
<link href="{% static "fullcalendar/bootstrap/main.css" %}" rel='stylesheet' />

<script src="{% static "fullcalendar/core/main.js" %}"></script>
<script src="{% static "fullcalendar/daygrid/main.js" %}"></script>
<script src="{% static "fullcalendar/bootstrap/main.js" %}"></script>

<script>
$( document ).ready(function(){
$('#export').click(function() {
  var titles = [];
  var data = [];

  /*
   * Get the table headers, this will be CSV headers
   * The count of headers will be CSV string separator
   */
  $('.dataTable th').each(function() {
    titles.push($(this).text());
  });

  /*
   * Get the actual data, this will contain all the data, in 1 array
   */
  $('.dataTable td').each(function() {
    data.push($(this).text());
  });
  
  /*
   * Convert our data to CSV string
   */
  var CSVString = prepCSVRow(titles, titles.length, '');
  CSVString = prepCSVRow(data, titles.length, CSVString);

  /*
   * Make CSV downloadable
   */
  var downloadLink = document.createElement("a");
  var blob = new Blob(["\ufeff", CSVString]);
  var url = URL.createObjectURL(blob);
  downloadLink.href = url;
  downloadLink.download = "data.csv";

  /*
   * Actually download CSV
   */
  document.body.appendChild(downloadLink);
  downloadLink.click();
  document.body.removeChild(downloadLink);
});

   /*
* Convert data array to CSV string
* @param arr {Array} - the actual data
* @param columnCount {Number} - the amount to split the data into columns
* @param initial {String} - initial string to append to CSV string
* return {String} - ready CSV string
*/
function prepCSVRow(arr, columnCount, initial) {
  var row = ''; // this will hold data
  var delimeter = ','; // data slice separator, in excel it's `;`, in usual CSv it's `,`
  var newLine = '\r\n'; // newline separator for CSV row

  /*
   * Convert [1,2,3,4] into [[1,2], [3,4]] while count is 2
   * @param _arr {Array} - the actual array to split
   * @param _count {Number} - the amount to split
   * return {Array} - splitted array
   */
  function splitArray(_arr, _count) {
    var splitted = [];
    var result = [];
    _arr.forEach(function(item, idx) {
      if ((idx + 1) % _count === 0) {
        splitted.push(item);
        result.push(splitted);
        splitted = [];
      } else {
        splitted.push(item);
      }
    });
    return result;
  }
  var plainArr = splitArray(arr, columnCount);
  // don't know how to explain this
  // you just have to like follow the code
  // and you understand, it's pretty simple
  // it converts `['a', 'b', 'c']` to `a,b,c` string
  plainArr.forEach(function(arrItem) {
    arrItem.forEach(function(item, idx) {
      row += item + ((idx + 1) === arrItem.length ? '' : delimeter);
    });
    row += newLine;
  });
  return initial + row;
}
});
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        
        plugins: [ 'dayGrid' ],
        events: [
          {% for i in shifts %}
                {
                    title: "{{ i.shift_name }} in {{ i.department.hospital }}",
                    start: '{{ i.start_date|date:"Y-m-d" }}T{{ i.start_date|date:"H:i:s" }}' ,
                    end: '{{ i.end_date|date:"Y-m-d" }}T{{ i.end_date|date:"H:i:s" }}',
                    extendedProps: {
                      hospital: '{{ i.department.hospital }}',
                      department: '{{ i.department }}',
                      city: '{{ i.department.hospital.city }}',
                      country: '{{ i.department.hospital.city.country }}',
                      staff_firstname: '{{ i.staff_name.first_name }}',
                      staff_lastname: '{{ i.staff_name.last_name}}',
                      date_start: "{{ i.start_date }}",
                      date_end: "{{ i.end_date }}",
                    },
                },
          {% endfor %}
        ],

        eventClick:  function(info) {
            var eventObj = info.event;            
            $('#calendarModal').modal();
      
            document.getElementById("modalTitle").innerHTML = "Information about <i>" + eventObj.title + "</i> shift";
            document.getElementById("modalStaff").innerHTML = "<b>Staff member:</b> " + eventObj.extendedProps.staff_firstname + " " + eventObj.extendedProps.staff_lastname;
            document.getElementById("modalPlace").innerHTML = "<b>Place:</b> " + eventObj.extendedProps.department + ", " + eventObj.extendedProps.hospital + " in " + eventObj.extendedProps.city + ", " + eventObj.extendedProps.country;
            document.getElementById("modalStart").innerHTML = "<b>Shift starts:</b> " + eventObj.extendedProps.date_start;
            document.getElementById("modalEnd").innerHTML = "<b>Shift ends:</b> " + eventObj.extendedProps.date_end;

            document.getElementById("exportTitle").innerHTML = eventObj.title;
            document.getElementById("exportStaff").innerHTML = eventObj.extendedProps.staff_firstname + " " + eventObj.extendedProps.staff_lastname;
            document.getElementById("exportPlace").innerHTML = eventObj.extendedProps.department + ", " + eventObj.extendedProps.hospital + " in " + eventObj.extendedProps.city + ", " + eventObj.extendedProps.country;
            document.getElementById("exportStart").innerHTML = eventObj.extendedProps.date_start;
            document.getElementById("exportEnd").innerHTML = eventObj.extendedProps.date_end;
        },
      });

      calendar.render();
    });

  </script>
{% endblock %}
{% block content %}

<div class="container">
  <button type="button" class="btn btn-primary" id="export">Export calendar to CSV</button>

  <div hidden>
    <table class="dataTable">
      <tr>
        <th>"Subject","Start Date","Start Time","End Date","End Time","Location"</th>
      </tr>
        {% for i in shifts %}
        <tr>
          <td>{{ i.shift_name }},{{ i.start_date|date:"m/d/Y" }},{{ i.start_date|time:"g:i A" }},{{ i.end_date|date:"m/d/Y" }},{{ i.end_date|time:"g:i A" }},"{{ i.department }} - {{ i.department.hospital }} in {{ i.department.hospital.city }} - {{ i.department.hospital.city.country }}"</td>
        </tr>
        {% endfor %}
    </table>
  </div>
    <div id='calendar'></div>
</div>
<div id="calendarModal" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 id="modalTitle" class="modal-title"></h4>
          </div>
          <div id="modalBody" class="modal-body"> 
            <div id="modalStaff"></div>
            <div id="modalPlace"></div>
            <div id="modalStart"></div>
            <div id="modalEnd"></div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>


{% endblock %}